<div class='overview'>
	<h2>Today</h2>
	<div class='tldr'>
		<div class='stat'>
			<p>{{now.activeCyclists}}<span class='small'>of {{now.totalCyclists}}</span></p>
			<h3>Cyclists</h3>
		</div>
		<div class='stat'>
			<p>{{whole-number now.distance}}<span class='small'>km</span></p>
			<h3>Distance</h3>
		</div>
		<div class='stat'>
		<p>{{format-time now.duration false}}</p>
			<h3>Time</h3>
		</div>
	</div>
	<div class='charts'>
		{{bar-chart segments=routes}}
		{{line-chart segments=distances}}
	</div>
</div>

<div class='review'>
	<h2>Glasgow Cycling Review</h2>
	<div class='headline'>
		<div class='icon'>
			<img src='/whole-cyclist.png'>
		</div>
		<p class='label'>
			<span class='big'>{{now.newCyclists}} new</span> cyclists joined the community
		</p>
	</div>
	<p class='text'>
	{{#if now.activeCyclists}}
		<span class='data'>{{now.activeCyclists}}</span> cyclists recorded <span class='data'>{{now.routes}}</span> routes today, taking a total of <span class='data'>{{format-time now.duration true}}</span> to cycle <span class='data'>{{whole-number now.distance}} kilometres</span>. The longest route was <span class='data'>{{decimal-number now.longestRoute}} kilometres</span>, while the average was <span class='data'>{{decimal-number now.avgDistancePerRoute}} kilometres</span>.
	{{else}}
		<span class='data'>{{now.activeCyclists}}</span> cyclists have recorded a route today - you could be the first!
	{{/if}}
	<br><br>
	<span class='data'>{{now.newCyclists}}</span> cyclists signed up to start recording routes today, bringing the total to <span class='data'>{{now.totalCyclists}}</span>.
	</p>
</div>

<div class='summary'>
	<h2>Glasgow Cycling Summary</h2>
	<div class='wrapper'>
		<div class='states'>
			<div class='state'>
				<img src='http://placekitten.com/g/300/300'>
				<h3>Weather</h3>
			</div>
			<div class='state'>
				<img src='http://placekitten.com/g/300/300'>
				<h3>Activity</h3>
			</div>
			<div class='state'>
				<img src='http://placekitten.com/g/300/300'>
				<h3>Avg Rating</h3>
			</div>
			<div class='state'>
				<img src='http://placekitten.com/g/300/300'>
				<h3>Environment</h3>
			</div>
		</div>

		<div class='boom'>
			<div class='toInfinity'>
				<div class='earth'>
				</div>
				<div class='path'>
				    <div class='cyclist'>
				    </div>
				</div>
				<div class='moon'>
				</div>
			</div>
			<p>Together Glasgow has cycled {{percentageToMoon}}% of the way to the moon</p>
		</div>
	</div>
</div>

<div class='table'>
	<div class='wrapper'>
		<h2>City Stats Table</h2>
		<table cellpadding="0" cellspacing="0" align="center">
			<tbody>
				<tr>
					<th></th>
					<th>This Week</th>
					<th>vs Last Week</th>
					<th>vs Average</th>
				</tr>
				<tr>
					<td>Avg Routes per day</td>
					<td>20</td>
					<td>+5</td>
					<td>-5</td>
				</tr>
				<tr>
					<td>Avg Distance per Route</td>
					<td>20</td>
					<td>+5</td>
					<td>-5</td>
				</tr>
				<tr>
					<td>Avg Distance per User</td>
					<td>20</td>
					<td>+5</td>
					<td>-5</td>
				</tr>
				<tr>
					<td>Longest Route</td>
					<td>20</td>
					<td>+5</td>
					<td>-5</td>
				</tr>
				<tr>
					<td>Furthest Route</td>
					<td>20</td>
					<td>+5</td>
					<td>-5</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>